services:
  gitainer:
    image: gitea.chromart.cc/martin/gitainer:latest
    volumes:
      - ./packages/gitainer/resources/bare:/var/gitainer/repo
      - ./packages/gitainer/resources/data:/var/gitainer/data
      - ./packages/gitainer/resources/stacks:/var/gitainer/stacks
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3000:3000 # git server
      - 8080:8080 # webui and webhooks
    environment:
      STACK_UPDATE_ON_ENV_CHANGE: 1
      # POST_WEBHOOK: 
      # defaults
      # GIT_ROOT: /var/gitainer/repo
      # GITAINER_DATA: /var/gitainer/data
      # REPO_NAME: docker
      # GIT_BRANCH: main
      # FRAGMENTS_PATH=fragments
      # STACKS_PATH=/var/gitainer/stacks


